ol {
    list-style-type: upper-alpha;
    margin: 20px;
    font-family: arial, sans-serif;
}

.Events {
    font-weight: bold;
}

.Events:hover {
    color: rgb(255, 190, 204);
}



